<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Datos del alumno</h1>
  </ion-text>
  <ion-item>
    <ion-label>Nombre de alumno:</ion-label>
    <ion-input placeholder="Ej: Joshua Ramirez" #nombre></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label >contraseña:</ion-label>
    <ion-input type="password" placeholder="contraseña" #contraseña></ion-input>
  </ion-item>

    <br><br>
    <ion-button expand="block" shape="round" >
      Ingresar
    </ion-button>

</ion-content>
