<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingreso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text color="primary" class="ion-text-center">
    <h1>Datos del alumno</h1>
  </ion-text>
  <ion-item>
    <ion-label>Nombre usuario:</ion-label>
    <ion-input placeholder="Ej: Joshua1234" #nombre></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label >Contraseña:</ion-label>
    <ion-input type="password" placeholder="contraseña" #contrasena></ion-input>
  </ion-item>

    <br><br>
    <ion-button (Click)= "Datos_alumno(nombre, contrasena)" expand="block" shape="round" >
      Ingresar
    </ion-button>
    <ion-text [routerLink]="['/restablecer-contrasena']" color="primary">
    <h1 class="ion-text-center">Restablecer contraseña</h1>
  </ion-text>

</ion-content>
